.sub_main {
  margin: 8rem 0;
}

.sub_main_section {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 2rem;
}

.sub_main_2 {
  margin-top: 8rem;
  gap: 77px;
}

.sub_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.share_btn {
  background: linear-gradient(315deg, #fb432c 0%, #ff591e 100%);
  color: white;
  padding: 4px 14px;
  font-size: 0.78rem;
  border-radius: 100px;
  width: fit-content;
}

.sub_main_header {
  font-size: 54px;
  margin: 0;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: -1.5px;
}

.sub_main_content {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #5f6980;
}

.content_feature {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.feature_list,
.play_list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.feature_name {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.play_content {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.img_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 400px;
  border-radius: 24px;
  background: #fafafa;
}

.code_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 531px;
  height: 337px;
}

.feedback_img {
  height: 361px;
  width: 358px;
}
