.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.main_header {
  text-align: center;
  margin: 0;
  margin-top: 5rem;
  font-weight: 600;
  font-size: 84px;
  line-height: 89px;
  letter-spacing: -3.5px;
  padding: 0 5rem;
}

.main_sub_header {
  text-align: center;
  color: #5f5f5f;
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
}

.main_button {
  background: linear-gradient(315deg, #fb432c 0%, #ff591e 100%);
  color: white;
  padding: 12px 28px;
  border-radius: 39px;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
  transform: scale(1.1); /* Slightly enlarge the active button */
  width: fit-content;
}

.main_overview {
  background: linear-gradient(315deg, #fb432c 0%, #ff591e 100%);
  width: 100%;
  /* height: 858px; */
  padding: 60px 80px 0 80px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  color: white;
}

.overview_head {
  font-size: 63px;
  line-height: 73px;
  font-weight: 600;
  letter-spacing: -2.5px;
  margin: 0;
}

.overview_content {
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
}

.overview_btn {
  background: #ffffff;
  color: black;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 0.78rem;
  border-radius: 100px;
  width: fit-content;
  margin-bottom: 1rem;
}

.pre_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 80px 0 80px;
  gap: 1.5rem;
}

.pre_footer_head {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.pre_footer_content {
  color: #525252;
  font-size: 20px;
  font-weight: 28px;
  font-weight: 400;
}

.pre_footer_btns {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
}

@media (max-width: 1062px) {
  .overview_img {
    width: 85vw;
  }
}

@media (max-width: 850px) {
  .main_header {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -1px;
  }

  .main_sub_header {
    font-size: 16px;
  }
}

@media (max-width: 720px) {
  .overview_head {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -1.5px;
  }
}
