.header {
  width: calc(100%-2rem);
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  font-size: 0.875rem;
  padding: 1rem;
  gap: 3rem;
}

.logo_header {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.start_button {
  background: linear-gradient(315deg, #fb432c 0%, #ff591e 100%);
  color: white;
  padding: 10px 20px;
  border-radius: 39px;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
  transform: scale(1.1); /* Enlarged for active button */
}

.btn {
  background: transparent;
  color: #333;
  padding: 10px 20px;
  border-radius: 39px;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background: #f7f7f7;
}

.header_mid,
.login_section {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 14px;
}

.header_mid {
  gap: 1.5rem;
}

.logo {
  height: 1.8rem;
}

.product_but {
  display: flex;
  align-items: center;
  gap: 2px;
}

.hamburger_menu {
  display: none;
}

.menu_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #333;
}

/* Styles for screens below 850px */
@media (max-width: 850px) {
  .hamburger_menu {
    display: block;
    cursor: pointer;
    z-index: 1001; /* Ensures the icon is always on top */
  }

  .icon {
    font-size: 24px;
    color: #333;
    transition: transform 0.3s ease-in-out;
  }

  .menu_content {
    position: absolute;
    top: 3.5rem;
    left: 0;
    padding: 1rem 1rem 2rem 1rem;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1000;
    transition: max-height 0.8s ease-in-out, opacity 0.4s ease-in-out;
  }

  .menu_closed {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
  }

  .menu_open {
    max-height: 500px;
    opacity: 1;
    display: flex;
    visibility: visible;
  }

  .header_mid,
  .login_section {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
  }

  .btn {
    padding: 0;
  }

  .start_button {
    padding: 0;
    background: transparent;
    color: inherit;
  }

  .header {
    flex-direction: row; /* Logo remains in a row layout */
    justify-content: space-between;
  }

  .logo_header {
    width: 100%;
    justify-content: space-between;
  }
}
