.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  padding: 1rem;
}

.logo_header {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.start_button {
  background: linear-gradient(315deg, #fb432c 0%, #ff591e 100%);
  color: white;
  padding: 10px 20px;
  border-radius: 39px;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
  transform: scale(1.1); /* Slightly enlarge the active button */
}

.btn {
  background: transparent;
  color: #333;
  padding: 10px 20px;
  border-radius: 39px;
  /* border: 1px solid #ddd; */
  transition: background 0.3s ease-in-out;
  cursor: pointer;
  /* transform: scale(1); Regular size for inactive buttons */
}

.btn:hover {
  background: #f7f7f7;
}

.login_section,
.header_mid {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header_mid {
  gap: 1.5rem;
}

.logo {
  height: 1.8rem;
}

.product_but {
  display: flex;
  align-items: center;
  gap: 2px;
}
